* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

img {
  object-fit: cover;
}

p {
  line-height: 1.5rem;
  color: rgb(85, 85, 85);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto 0 auto;
  align-items: center;
}

.hero-img {
  display: block;
  height: 573px;
  width: 70%;
  margin: 60px auto 119px auto;
}

.article-no-1 {
  display: flex;
  justify-content: space-between;
}
.article-no-1 img {
  max-width: 556px;
  height: 384px;
}
.article-no-1 p {
  margin: 92px 0 0 107px;
  width: 372px;
}

.flex-article-container {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}
.flex-article-container p {
  margin: 55px 0 0 15px;
  width: 450px;
}

.flex-1-div {
  flex: 1;
}
.flex-2-div {
  flex: 1;
}

.image-flex-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 119px auto;
}
.image-flex-section img {
  max-width: 380px;
  height: 300px;
}

.disply-flexdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 119px;
}

.disply-flexdiv img {
  height: 400px;
   max-width: 49% ;
   display: block;
} 

.img-no-1 {
  padding-right: 7px;
}
.img-no-2 {
  padding-left: 7px;
}

.img-no-3 {
  padding-top: 14px;
  width: 99%;
  height: 550px;
  display: block;
  margin: auto;
}

.a-div{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.a-div a {
  text-decoration: none;
  border: 1px solid #333;
  padding: 15px 25px; 
  color: black;
  transition: all 0.7s;
}

.a-div a:hover {
  background-color: #333;
  color: #fff;
}


footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 175px;
  background-color: rgb(223, 223, 223);
  padding: 55px;
}
footer div {
  line-height: 2rem;
  color: rgb(56, 56, 56);
}

footer div h3 {
  font-family: "Akaya Telivigala", cursive, arial;
}

footer div li{
  list-style: none;
}
footer div a:hover {
 color: rgb(0, 0, 0);
 transition: 0.5s;
}

footer div a {
  text-decoration: none;
  color: rgb(119, 119, 119);
}
